.center-everything {
  display: flex;
  justify-content: center;
  align-items: center;

  &.flex-column {
    flex-direction: column;
  }
}

.margin {
  margin: 1rem !important;
}
.margin-half {
  margin: .5rem !important;
}
.margin-double {
  margin: 2rem !important;
}
.margin-triple {
  margin: 3rem !important;
}

.margin--bottom {
  margin-bottom: 1rem !important;
}
.margin-half--bottom {
  margin-bottom: .5rem !important;
}
.margin-double--bottom {
  margin-bottom: 2rem !important;
}
.margin-triple--bottom {
  margin-bottom: 3rem !important;
}

.margin--top {
  margin-top: 1rem !important;
}
.margin-half--top {
  margin-top: .5rem !important;
}
.margin-double--top {
  margin-top: 2rem !important;
}
.margin-triple--top {
  margin-top: 3rem !important;
}
