.center-everything {
  display: flex;
  justify-content: center;
  align-items: center;

  &.flex-column {
    flex-direction: column;
  }
}

.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}

.has-rounded-corners {
  border-radius: 6px !important;
}

.margin {
  margin: 1rem !important;
}
.margin-half {
  margin: .5rem !important;
}
.margin-double {
  margin: 2rem !important;
}
.margin-triple {
  margin: 3rem !important;
}

.margin--bottom {
  margin-bottom: 1rem !important;
}
.margin-half--bottom {
  margin-bottom: .5rem !important;
}
.margin-double--bottom {
  margin-bottom: 2rem !important;
}
.margin-triple--bottom {
  margin-bottom: 3rem !important;
}

.margin--top {
  margin-top: 1rem !important;
}
.margin-half--top {
  margin-top: .5rem !important;
}
.margin-double--top {
  margin-top: 2rem !important;
}
.margin-triple--top {
  margin-top: 3rem !important;
}

.padding {
  padding: 1rem !important;
}
.padding-half {
  padding: .5rem !important;
}
.padding-double {
  padding: 2rem !important;
}
.padding-triple {
  padding: 3rem !important;
}
.padding--none {
  padding: 0 !important;
}

.padding--bottom {
  padding-bottom: 1rem !important;
}
.padding-half--bottom {
  padding-bottom: .5rem !important;
}
.padding-double--bottom {
  padding-bottom: 2rem !important;
}
.padding-triple--bottom {
  padding-bottom: 3rem !important;
}
.padding-none--bottom {
  padding-bottom: 0 !important;
}

.padding--top {
  padding-top: 1rem !important;
}
.padding-half--top {
  padding-top: .5rem !important;
}
.padding-double--top {
  padding-top: 2rem !important;
}
.padding-triple--top {
  padding-top: 3rem !important;
}
.padding-none--top {
  padding-top: 0 !important;
}
