// DIAGONAL SPLIT SCREEN
.hero {
  background: $blue;
  height: 100vh;
  width: calc(50% - 25px);
  position: relative;
  margin-top: -64px;
}

.hero-left {
  float: left;
}

.hero-right {
  float: right;
}

.hero, .hero-left, .hero-right {
  &:after {
    position: absolute;
    top: 0px;
    content:'';
    z-index: -1;
    height: 100%;
    width: 50%;
    background: $blue;
  }
}

.hero-left:after {
  right: 0;
  transform-origin: bottom right;
  transform: skewX(-8deg);
}

.hero-right:after {
  left: 0;
  transform-origin: top left;
  transform: skewX(-8deg);
}

.hero-body {
  width: 100vw;

  .hero-content-left, .hero-content-right {
    width: 100%;
  }
}

.icon-container {
  height: 300px;
  width: 300px;

  &.icon-run {
    background-image: url(./assets/icon-run.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.icon-calendar {
    background-image: url(./assets/icon-calendar.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
// DIAGONAL SPLIT SCREEN END
