nav {
  padding: 0 3rem;

  .navbar-link {
    padding: 0;
    margin: 0.5rem 2rem 0.5rem;
    &:hover {
      // color: $blue-darker; // HERO 1
    }
  }

  .navbar-dropdown {
    left: -60px;
  }
}
