// Fonts
@import url('https://fonts.googleapis.com/css?family=Niramit');
$font-primary: 'Niramit', sans-serif;

// App colors
$dark: #1e1e1e;
$blue: #5589eb;
$blue-darker: darken($blue, 4%);
$text-dark: #4a4a4a;
$green: #32D4B4;

// Bulma variables
$primary: $blue;
$radius-rounded: 6px;

// Navbar
$navbar-height: 4rem;
$navbar-background-color: transparent;
$navbar-box-shadow-size: 0 8px 8px 0;
$navbar-item-color: $blue;
$navbar-item-hover-color: $blue-darker;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-arrow: transparent;
$navbar-dropdown-border-top: 0;
$navbar-dropdown-item-active-color: $blue;
$navbar-dropdown-offset: 20px;
